@if(productForm){
  <section id="product-section">
    <form
      [formGroup]="productForm"
      class="product-form"
      >
      <mat-form-field>
        <mat-label>Toppings</mat-label>
        <mat-select formControlName="toppings" multiple>
          @for(topping of toppingList; track topping){
            <mat-option
              [value]="topping"
              >
              {{ topping }}
            </mat-option>
          }
        </mat-select>
        @if(toppingsControl()?.touched && toppingsControl()?.hasError('required')){
          <mat-error>
            Toppings is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Option</mat-label>
        <mat-select formControlName="option">
          @for(option of optionList; track option){
            <mat-option
              [value]="option"
              >
              {{ option }}
            </mat-option>
          }
        </mat-select>
        @if(optionControl()?.touched && optionControl()?.hasError('required')){
          <mat-error>
            Option is <strong>required</strong>
          </mat-error>
        }
      </mat-form-field>
      <div class="flex-center btns--wrap">
        <ul>
          <li (click)="goToPage('home')">Home</li>
        </ul>
      </div>
    </form>
  </section>
}

